@media print{
    .addThird .clientForm3{
        position: relative;
        transform: scale(1.3);
        top: 50px;
    }
    #clientForm3,
    #clientCA{
        border :none;
        box-shadow: none;
        border-radius: 0px;
        background: none;
        backdrop-filter: none;
    }
    .sigmatura2{
        transform: scale(0.8);
        top: 730px;
        font-size: 15px;
        position: absolute;
        display:block;
        padding-left: 285px;
        padding-bottom: 0px;
    }
    .disclaimer{
        transform: scale(0.8);
        top: 630px;
        position: absolute;
        display:block;
        font-size:12.5px ;
        padding-top: 150px;
        padding-bottom: 30px;
        right: 40px;
    }
    .ccSummary hr, 
    .clValidID label{
        display: none;
    }
    #clientForm3 #idNos {
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
     }
     #clientForm3 select{
        appearance: none;
    }
   
}
@page{
    size: A4 PORTRAIT;
}