@media print{
    .addForth #clientForm4{
        position: relative;
        transform: scale(1.4);
        top: 50px;

    }
    #clientForm4{
        border :none;
        box-shadow: none;
        border-radius: 0px;
        background: none;
        backdrop-filter: none;
    }
    #clientForm4 ::placeholder{
        color: lightgray;
        opacity: 0.2;
       }
    #cmGender,
    #cmCivilStatus{
        appearance: none;
    }
    #clientForm4 input,
    #clientForm4 select{
        border: 1px solid #ccc;
        border-radius: 4px;
        box-sizing: border-box;
    }
    .clCoMakerInfo{
        transform: scale(1.1);
        margin-top: 20px;
    }
    .cdAgree,
    .accountOpen{
        display: none;
    }
}
@page{
    size: A4 PORTRAIT;
}