.dataRecords{
    height: 100%;
    width: 100%;
    padding: 100px;
}
.dataRecords h1{
    font-size: 30px;
}
.dataContent{
    display: flex;
    justify-content: space-evenly;
}
.dataContent .cadrCont{
    height: 580px;
    width: 500px;
    padding: 5px 20px;
    border-radius: 10px;
    border: solid 1px;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.cadrCont table{
    width: 100%;
    text-transform: capitalize;
}
.cadrCont table tr th{
    font-size: 12px;
    border: solid 1px skyblue;
    color: blue;
    border-radius: 5px;
}
.cadrCont h4{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.cadrCont.first .cadrFPC::-webkit-scrollbar{
    display: none;
}
.cadrCont.first .cadrFPC{
    height: 515px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.cadrFPC table{
    width: 100%;
    text-transform: capitalize;
}
.cadrFPC table tr td{
    text-align: center;
}
.cadrFPC table tr td p{
    font-size: 10px;
}
.cadrFPC table tr td p span{
    font-size: 10px;
    font-weight: 700;
}
.cadrFPC table tr td span{
    font-size: 10px;
    font-weight: 700;
}




.cadrCont.second .cadrSCC::-webkit-scrollbar{
    display: none;
}
.cadrCont.second .cadrSCC{
    height: 515px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.cadrSCC table{
    width: 100%;
    text-transform: capitalize;
}
.cadrSCC table tr td{
    text-align: center;
}
.cadrSCC table tr td p{
    font-size: 10px;
}
.cadrSCC table tr td p span{
    font-size: 10px;
    font-weight: 700;
}
.cadrSCC table tr td span{
    font-size: 10px;
    font-weight: 700;
}



.cadrCont.third .cadrTOR::-webkit-scrollbar{
    display: none;
}
.cadrCont.third .cadrTOR{
    height: 515px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.cadrTOR table{
    width: 100%;
    text-transform: capitalize;
}
.cadrTOR table tr td{
    text-align: center;
}
.cadrTOR table tr td p{
    font-size: 10px;
}
.cadrTOR table tr td p span{
    font-size: 10px;
    font-weight: 700;
}
.cadrTOR table tr td span{
    font-size: 10px;
    font-weight: 700;
}




.dataRecords .caDataReport{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 0;
}
.caDataReport label{
    position: absolute;
    margin-top: -15px;
    font-size: 10px;
}
.caDataReport select{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: solid 1px;
    margin-left: 10px;
}
.caDataReport div p{
    position: absolute;
    margin-top: -15px;
    font-size: 10px;
}
.caDataReport div span{
    font-size: 15px;
    font-weight: 700;
    margin-left: 30px;
}
.doAllSale{
    float: right;
    display: flex;
    align-items: center;
}
.doAllSale div{
    width: 250px;
    margin: 10px 20px;
    margin-top: 30px;
}
.doAllSale div p{
    position: absolute;
    margin-top: -15px;
    font-size: 10px;
}
.doAllSale div span{
    font-size: 35px;
    font-weight: 700;
}
.doAllSale div button{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: solid 1px;
    cursor: pointer;
}
.doAllSale div button:hover{
    background: blue;
    color: white;
    transition: 500ms;
}