#Home{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hLeft{
    height: auto;
    width: 90%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    margin-top: 150px;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.hleft .welcome{
    height: auto;
    margin-top: 150px;
    line-height: 100px;
}
.hleft div h3{
    font-size: 70px;
    font-weight: 900;
}
.hleft div h2{
    color: blue;
    font-size: 120px;
    font-weight: 900;
}
.hleft div h2 span{
    color: rgb(9, 45, 112);
}
.hleft div p{
    margin-top: 10px;
    margin-left: 10px;
    line-height: 17px;
    font-size: 14px;
}
.hApplySheet div{
    width: 220px;
    line-height: 50px;
    align-items: center;
    text-align: center;
    margin-top: 50px;
}
.hApplySheet .applyCode h3{
    font-size: 30px;
}
.applyCode .qrTooltip{
    margin-top: -15px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.qrTooltip .qrToolText{
    visibility: hidden;
    height: auto;
    width: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(8.3px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    text-align: center;
    padding: 15px 20px;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: -60px;
    left: 105%;
}
.qrTooltip .qrToolText i{
    font-size: 150px;
}
.qrTooltip:hover .qrToolText{
    visibility: visible;
}


.hImg{
    margin-top: 100px;
    align-items: right;
    text-align: right;
}
.hImg img{
    height: auto;
    width: 800px;
}
.hImg #date{
    margin-top: 100px;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
}