@media print{
    .navSelection,
    nav button,
    .fa.fa-info-circle,
    .dashBtn,
    .accountOpen
    {
        display: none;
    }
    nav a{
        position: absolute;
        top: -10px;
        left: -5px;
        zoom: 2;
    }

    .dbDashboard{
        position: absolute;
        left: -15px;
        top: 60px;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        background: none;
        border-radius: none;
        box-shadow: none;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
        border: none;
    }
    
}
@page{
   size: A4 LANDSCAPE;
}
