@media print{
    .fullContent .navSelection,
    .clientRecords h1,
    .crtSearch,
    .crtFilter,
    #btnFilter,
    #btnRecentlyAdd,
    #btnPrintRec,
    .crBottom,
    #fcimgsrc,
    #btnRecentlyAdded,
    #btnExport,
    #thTool,
    #cStatus,
    .crtStatus label,
    .clientRecords.crTop, 
    .crtButtons button,    
    .crMiddle table tr button,
    .crMiddle table tr #thTool,
    .crMiddle table tr a,
    .crtButtons #crtAll,
    .crtButtons #crtRecent,
    #crmUser #userButton,
    #crmUser #userPayment,
    #crmuser,
    #recordTable #thPayment,
    #btnLogOut,
    #thPayment,
    .userClose,
    .accountOpen,
    #jzlogo

    {
        display: none;
    }

    #recordTable tr td p{
        color: black;
    }

    .crMiddle{
        position: absolute;
        height: 690px;
        width: 95%;
        top: 60px;
        right: 0px;
        bottom: 0px;
        left: 27px;
        margin-top: 20px;
        border-radius: none;
        border: none; 
        background: none;
        box-shadow: none;
        backdrop-filter:none;
        -webkit-backdrop-filter: none;
        overflow:unset;
    }
    .crMiddle table{
        width: 100%;
        text-align: center;
    }
    .crMiddle table tr th{
        font-size: 13px;
        border: solid 1px lightgray;
        border-radius: 2px;
        font-weight: 700;
    }
    #crtRecent,
    #crtAll{
        visibility: hidden;
    }
    nav a{
        position: absolute;
        margin: 0px;
        top: 10px;
        left: 10px;
    }
    .userModal{
        position: absolute;
        left: 0px;
        border-radius: none;
        border: none; 
        background: none;
        box-shadow: none;
        backdrop-filter:none;
        -webkit-backdrop-filter: none;
    }
    .userModal button,
    .userModal a{
        display: none;
    }
    .caAssignment select{
        appearance: none;
        border: none;
    }

}
@page{
    size: A4 LANDSCAPE;
}

