.systemSetting{
    height: 100%;
    width: 100%;
    padding: 100px;
}
.settingContent{
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.settingContent .settingsFC{
    height: 700px;
    width: 700px;
    padding: 5px 20px;
    border-radius: 10px;
    border: solid 1px;
    margin-top: 30px;
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 2px solid rgba(255, 255, 255, 0.3);
}
.settingsFC h4{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: 15px 0;
}
.settingsFC.ssContent table{
    margin-top: 30px;
    width: 100%;
    text-align: center;
}
.settingsFC.ssContent table tr th{
    font-size: 12px;
    border-radius: 5px;
    border: solid 1px skyblue;
    color: blue;
}
.settingsFC.ssContent table tr td p{
    font-size: 12px;
    text-align: center;
}
.settingsFC.ssContent table tr td button{
    width: 100px;
    cursor: pointer;
}
.settingsFC.ssContent table tr td button a{
    padding: 0 25px;
    text-decoration: none;
    color: black;
}
.settingsFC.ssContent table tr td p span{
    font-size: 12px;
    font-weight: 700;
}
.settingsFC.ssContent table tr td p input{
    width: 50px;
    padding: 0 2px;
    font-size: 12px;
    font-weight: 700;
}
.settingsFC.ssContent table tr td#addLoanPlan button{
    width: 100%;
}
.settingsFC.ssContent table tr td#customSetLoan p input{
    width: 80px;
    padding: 0 2px;
    font-size: 12px;
    font-weight: 700;
}
.loanPlanSetup .loanPlanInfo{
    display: flex;
    align-items: center;
    text-align: center;
}
.loanPlanSetup .loanPlanInfo h4{
    font-size: 15px;
    font-weight: 700;
    margin: 0 10px;
    text-align: left;
}
.loanPlanSetup .loanPlanInfo .editIntTool i{
    font-size: 15px;
    color: gray;
    cursor: pointer;
}
.loanPlanInfo{
    margin-top: 30px;
    display: inline-block;
}
.editIntTool{
    width: 20px;
}
.editIntTool .editIntText{
    visibility: hidden;
    width: 300px;
    background-color: gray;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 220px;
}
.editIntTool .editIntText p{
    font-size: 10px;
}
.editIntTool:hover .editIntText{
    visibility: visible;
}
.addInterest{
    margin: 30px 0;
    display: flex;
    justify-content: space-evenly;
}
.addInterest div{
    width: 200px;
}
.addInterest div h4{
    text-align: left;
    font-size: 15px;
    font-weight: 700;
    margin: 0;
}
.addInterest div p{
    font-size: 10px;
    font-style: italic;

}
.addInterest div span{
    display: flex;
}
.addInterest div span input{
    height: 90px;
    width: 100px;
    font-size: 80px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.addInterest div span input::-webkit-outer-spin-button,
.addInterest div span input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.addInterest div span h3{
    font-size: 50px;
}
.addInterest div button{
    margin: 10px;
    padding: 2px 15px;
    border-radius: 5px;
    border: solid 1px;
    cursor: pointer;
}
.settingsFC.settingsFC.ssContent .loanDeducInfo{
    display: flex;
    align-items: center;
    text-align: center;
}
.loanDeducInfo h4{
    font-size: 15px;
    font-weight: 700;
    margin: 0 10px;
    text-align: left;
}
.loanDeducInfo .editDeducTool i{
    font-size: 15px;
    color: gray;
    cursor: pointer;
}
.loanDeducInfo{
    margin-top: 30px;
    display: inline-block;
}
.editDeducTool{
    width: 20px;
}
.editDeducTool .editDeducText{
    visibility: hidden;
    width: 300px;
    background-color: gray;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 280px;
    left: 250px;
}
.editDeducTool .editDeducText p{
    font-size: 10px;
}
.editDeducTool:hover .editDeducText{
    visibility: visible;
}
.cdeducTitle{
    margin-top: 20px;
    text-align: center;
}
.cdeducTitle p{
    font-size: 15px;
    font-style: italic;
    font-weight: 700;
}
.currentDeductions{
    height: 150px;
    border: solid 1px skyblue;
    border-radius: 5px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.currentDeductions::-webkit-scrollbar{
    display: none;
}
.currentDeductions table.curDeducTable{
    margin-top: 0px;
    width: 100%;
    text-align: center;
}
.currentDeductions table.curDeducTable tr td#deductTools{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.currentDeductions table.curDeducTable tr td#deductTools a{
    font-size: 12px;
    text-decoration: none;
    color: black;
    background: whitesmoke;
    padding: 1px 30px;
    border-radius: 5px;
    border: solid 1px;
    cursor: pointer;
}
.currentDeductions table.curDeducTable tr td#deductTools a#deleteDeduct{
    display: none;
}
.deductTitles{
    margin-top: 20px;
}
.deductTitles ul{
    display: flex;
    justify-content: space-evenly;
}
.deductTitles ul li{
    font-size: 15px;
}
.deductTitles ul li p{
    font-size: 10px;
    font-style: italic;
}
.settingsFC.ssContent .editDeductModal{
    display: none;
    position: fixed;
    z-index: 10;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.editDeductModal .editDeductContent{
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    top: 0;
    left: 0;
    transform: translate(0%, 100%);
    text-align: center;
    border: 1px solid #888;
    height: 200px;
    width: 450px;
}
.deductClose {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}
.deductClose:hover,
.deductClose:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.deductionValues{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.deductionValues div{
    margin: 0 10px;
}
.deductionValues div label{
    font-size: 10px;
    position: absolute;
    margin-top: -15px;
}
.deductionValues div input{
    height: 25px;
    width: 70px;
    border-radius: 5px;
    border: solid 1px;
    padding: 0 5px;
}
.editDeductContent div button{
    margin-top: 20px;
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: solid 1px;
    cursor: pointer;
}













.settingsFC.scAccount .adminBlockSetup{
    position: absolute;
    z-index: 5;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    overflow: auto;
    border-radius: 10px;
    background: url('IMG/Restricted.png') no-repeat center;
    background-size: cover;
}
.adminBlockSetup .restrictedBlock{
    height: 300px;
    width: 400px;
    text-align: center;
    padding: 50px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8.3px);
    -webkit-backdrop-filter: blur(9px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
.restrictedBlock h4{
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
}
.restrictedBlock h4 span{
    font-size: 40px;
    font-style: italic;
    color: skyblue;
    line-height: 35px;
}
.settingsFC.scAccount .editCAModal{
    display: none;
    position: fixed;
    z-index: 10;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
}
.editCAModal .editModalContent{
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    top: 0;
    left: 0;
    transform: translate(0%, 100%);
    text-align: center;
    border: 1px solid #888;
    height: 200px;
    width: 450px;
}
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-right: 10px;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.editCreditAnalyst{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.editCreditAnalyst div{
    margin: 0 10px;
}
.editCreditAnalyst div label{
    font-size: 10px;
    position: absolute;
    margin-top: -15px;
}
.editCreditAnalyst div input{
    height: 25px;
    width: 200px;
    border-radius: 5px;
    border: solid 1px;
    padding: 0 5px;
}
.editCreditAnalyst div select{
    height: 25px;
    outline: none;
    border-radius: 5px;
}
.editModalContent div{
    margin-top: 20px;
}
.editModalContent div button{
    height: 30px;
    width: 150px;
    border-radius: 5px;
    border: solid 1px;
    cursor: pointer;
}
.employeeSetup .addEmpInfo{
    display: flex;
    align-items: center;
    text-align: center;
}
.employeeSetup .addEmpInfo h4{
    font-size: 15px;
    font-weight: 700;
    margin: 0 10px;
    text-align: left;
}
.employeeSetup .addEmpInfo .addEmpTool i{
    font-size: 15px;
    color: gray;
    cursor: pointer;
}
.addEmpInfo{
    margin-top: 30px;
    display: inline-block;
}
.addEmpTool{
    width: 20px;
}
.addEmpTool .addEmpText{
    visibility: hidden;
    width: 300px;
    background-color: gray;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 60px;
    left: 220px;
}
.addEmpTool .addEmpText p{
    font-size: 10px;
}
.addEmpTool:hover .addEmpText{
    visibility: visible;
}
.addEmpTool .addCSSText{
    visibility: hidden;
    width: 300px;
    background-color: gray;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 385px;
    left: 335px;
}
.addEmpTool .addCSSText p{
    font-size: 10px;
}
.addEmpTool:hover .addCSSText{
    visibility: visible;
}
.employeeSetup .addEmployee{
    margin-top: 40px;
}
.ssCAAdd{
    display: flex;
    justify-content: center;
}
.ssCAAdd label{
    position: absolute;
    font-size: 10px;
    margin-top: -15px;
}
.ssCAAdd select{
    height: 30px;
    margin: 0 10px;
    outline: none;
    border-radius: 5px;
    border: none;
    background: whitesmoke;
}
.ssCAAdd input{
    height: 30px;
    width: 250px;
    margin: 0 10px;
    font-size: 12px;
    font-weight: 700;
    padding: 0 5px;
    border-radius: 5px;
    border: none;
    background: whitesmoke;
}
.ssCAAdd button{
    height: 30px;
    width: 200px;
    margin: 0 10px;
    padding: 0 10px;
    border-radius: 5px;
    border: solid 1px;
    cursor: pointer;
}
.ssCAAdd button:hover{
    color: white;
    background: blue;
    transition: 800ms ease-in-out;
}
.scTable table#caTableTitle{
    width: 100%;
    margin-top: 20px;
}
table#caTableTitle tr th{
    font-size: 12px;
    border-radius: 5px;
    border: solid 1px skyblue;
    color: blue;
}
.sctContent{
    height: 150px;
    border: solid 1px skyblue;
    border-radius: 5px;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.sctContent::-webkit-scrollbar{
    display: none;
}
.sctContent table#caTableContent{
    width: 100%;
    font-size: 12px;
    text-align: center;
}
table#caTableContent tr td#scTabButton button{
    width: 100px;
    border-radius: 5px;
    border: solid 1px;
    cursor: pointer;
}
table#caTableContent tr td#scTabButton button a{
    padding: 0 25px;
    text-decoration: none;
    color: black;
}
.addEmployee.addCSS{
    margin-top: 25px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.registeredCSS.register{
    display: flex;
    align-items: center;
    justify-content: center;
}
.registeredCSS.register label{
    position: absolute;
    font-size: 10px;
    margin-top: 5px;
}
.registeredCSS.register input{
    margin-top: 20px;
    height: 30px;
    width: 220px;
    border-radius: 5px;
    border: solid 1px;
    padding: 0 5px;
    background: whitesmoke;
    text-transform: capitalize;
}
.registeredCSS.register button{
    margin-top: 10px;
    height: 30px;
    width: 220px;
    border-radius: 10px;
    border: solid 1px;
    cursor: pointer;
}
.registeredCSS.register button:hover{
    background: blue;
    color: white;
    transition: 800ms ease-in-out;
}
.registeredCSS.registered{
    width: 300px;
    border-radius: 10px;
    border: solid 1px;
    padding: 10px;
    height: 225px;
    /* overflow-y: scroll; */
}
.registeredCSS.registered p{
    font-size: 12px;
    font-style: italic;
}
.registeredCSS.registered table{
    margin-top: 10px;
    width: 280px;
    text-align: center;
    /* border: 1px solid black;
    height: 50px;
    overflow-y: scroll; */
}
.registeredCSS.registered table th{
    font-size: 12px;
    color: blue;
    border: solid 1px skyblue;
    border-radius: 5px;
}
.registeredCSS.registered table tr td{
    font-size: 10px;
}
.registeredCSS.registered table tr td#disCssUser{
    text-transform: capitalize;
}
.registeredCSS.registered table tr td#delCSS button{
    width: 100px;
    border-radius: 5px;
    border: solid 1px;
    cursor: pointer;
}